/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
    background: #6f6f6f
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}





/* ==============================================================================================================
   Mobile-First styles
   ============================================================================================================== */
.desktop-only{
    display: none;
} 


/*=======Welcome-Section(Mobile)=======*/
.welcome{
    background-image: $background-welcome-mobile;
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
        @media only screen and (min-width: $breakpoint-desktop) {
          /*desktop*/
            background-image: $background-welcome-desktop;
        }

        &__wrapper{
            padding-top: 15vh;
        }

                &__heading{
                    font-size: 9.7vw;
                    line-height: 1;
                      @media only screen and (min-width: $breakpoint-desktop) {
                        /*desktop*/
                          font-size: 6.8vw;
                      }
                }

                &__sub-heading{
                    font-size: 9vw;
                      @media only screen and (min-width: $breakpoint-desktop) {
                        /*desktop*/
                          font-size: 6vw;
                      }
                }

                &__ghost-button{
                    display: inline-block;
                    border: 2px solid #fff;
                    border-radius: 5px;
                    padding: 2px;
                    margin: 5px 2px;
                    width: 35vw;
                    font-size: 4vw;
                      @media only screen and (min-width: $breakpoint-tablet) {
                        /*tablet*/
                          border: 3px solid #fff;
                      }
                      @media only screen and (min-width: $breakpoint-desktop) {
                        /*desktop*/
                          border: .3vw solid #fff;
                          border-radius: .5vw;
                          padding: 4px 10px;
                          margin: 5px 2px;
                          font-size: 1.6vw;
                          font-weight: bold;
                          width: unset;
                          transition: all 0.2s ease-out;
                          &:hover{
                              background-color: rgba(176, 144, 144, 0.4);
                              box-shadow: 0 0px 15px rgba(200, 200, 400, .4);
                              transition: all 0.1s ease-in;
                          }
                      }
                }

                &__social-icons a{
                    font-size: 8vw;
                    margin: 0px 3px;
                      @media only screen and (min-width: $breakpoint-desktop) {
                        /*desktop*/
                          font-size: 4vw;
                          margin: 0px 1vw;
                          transition: all 0.2s ease-out;
                          &:hover{
                              text-shadow: 0 0px 15px rgba(200, 200, 400, .4);
                              transition: all 0.1s ease-in;
                          }
                      }  
                }          
}



 /*=======What_I_Do-Section(Mobile)=======*/

 .what-i-do{
      @media only screen and (min-width: $breakpoint-desktop) {
                /*desktop*/
                    display: flex;
              }
 }

 /*----Responsive----*/
.responsive{
    background: $background-responsive;
    text-align: center;
    flex: 1 1 0;

        &__heading{
            font-size: 7vw;
              @media only screen and (min-width: $breakpoint-tablet) {
                /*Tablet*/
                  font-size: 5vw;
              }
              @media only screen and (min-width: $breakpoint-desktop) {
                /*desktop*/
                  font-size: 2.5vw;
              }
        }

        &__wrapper{
            padding: $wrapper-padding-mobile;
            margin: 0px auto;
              @media only screen and (min-width: $breakpoint-tablet) {
                /*Tablet*/
                  max-width: 66vw;
                  font-size: 2.3vw;
              }
              @media only screen and (min-width: $breakpoint-desktop) {
                /*desktop*/
                  padding: 6vw 40px;
                  font-size: 1.1em;
              }
        }

        &__image-box{
            margin: 0 auto;
            max-width: 75vh;
            img{
                width: 100%;
            }
        }               
}

/*----Development----*/
.development{
    background-color: $background-development;
    text-align: center;
    flex: 1 1 0;

        &__heading{
            font-size: 7vw;
              @media only screen and (min-width: $breakpoint-tablet) {
                /*Tablet*/
                  font-size: 5vw;
              }
              @media only screen and (min-width: $breakpoint-desktop) {
                /*desktop*/
                  font-size: 2.5vw;
              }

        }

        &__wrapper{
            margin: 0px auto;
            padding: $wrapper-padding-mobile;
              @media only screen and (min-width: $breakpoint-tablet) {
                /*Tablet*/
                  max-width: 66vw;
                  font-size: 2.3vw;
              }
              @media only screen and (min-width: $breakpoint-desktop) {
                /*desktop*/
                  padding: 6vw 40px;
                  font-size: 1.1em;
              }
        }

        &__image-box{
            margin: 0 auto;
            max-width: 75vh;
            padding-bottom: 20px;
            img{
                width: 76%;
            }
        }                       
}

/*----Code----*/
.code{
    background-color: $background-code;
    text-align: center;
    flex: 1 1 0;


        &__heading{
          font-size: 7vw;
            @media only screen and (min-width: $breakpoint-tablet) {
                /*Tablet*/
                  font-size: 5vw;
            }
            @media only screen and (min-width: $breakpoint-desktop) {
                /*desktop*/
                  font-size: 2.5vw;
            }
        }

        &__wrapper{
            margin: 0px auto;
            padding: $wrapper-padding-mobile;
              @media only screen and (min-width: $breakpoint-tablet) {
                /*Tablet*/
                  max-width: 66vw;
              }
              @media only screen and (min-width: $breakpoint-desktop) {
                /*desktop*/
                  padding: 6vw 40px;
                  font-size: 1.1em;
              }
        }

        &__image-box{
            margin: 0 auto;
            max-width: 75vh;
            img{
                width: 100%;
            }
        }                       
}



/*=======Work-Section=======*/


.work{
    text-align: center;
    background: #290606;
      &__heading{
            padding: 35px 0px 20px;
            text-align: center;
            font-size: 7vw;
              @media only screen and (min-width: $breakpoint-tablet) {
                /*Tablet*/
                  font-size: 5vw;
              }
              @media only screen and (min-width: $breakpoint-desktop) {
                /*desktop*/
                  font-size: 3vw;
              }
      }
      &__image-box{
        font-size: .8em;
        padding: 5px;
        border-radius: 5px;
        background: #292929;
        text-align: center;
        margin: 0 auto;
        width: 43vh;
          @media only screen and (min-width: $breakpoint-desktop) {
                /*desktop*/
                    max-width: 25vw;
                    display: inline-block;
                    margin: 3vw;
              } 
        img{
          width: 100%;
        }
      }
      &__flex-container{
        display: flex;
      }
      &__large-image-box{
        width: 60vw;
        padding: 20px;
      
        img{
            max-height: 82vh;
            padding: 0px 2vmin;
            @media only screen and (min-height: 620px){
              max-height: 65vh;
              padding: 0px 1vw;
            }
            @media only screen and (min-height: 790px){
              max-height: 55vh;
              padding: 0px 1vw;
            }
            @media only screen and (min-height: 965px){
              max-height: 50vh;
              padding: 0px 1vw;
              }
            @media only screen and (min-width: 1125px){
              padding: 0px 2vw;
            }
            @media only screen and (min-width: 1200px){
              padding: 0px 2.8vw;
            }
        }
      }
      &__large-text-box{
        width: 40vw;
        padding: 45px 30px 0px 0px;
        h4{
          text-align: center;
          padding-bottom: 5px;
        }
        p{
          padding-bottom: 40px;
          font-size: 1.1em;
        }
      }
  
}


        
@media only screen and (min-width: $breakpoint-desktop) {
  .mobile-only{
    display: none;
  }
}
