//Media Queries
$breakpoint-tablet: 600px;
$breakpoint-desktop: 900px;

//Fonts
$mobile-headings-size: 9vw;

//Backgrounds
$background-welcome-mobile: url("../img/mobile-bsd-bg.jpg");
$background-welcome-desktop: url("../img/bsd-bg.jpg");
$background-responsive: #333352;
$background-development: #686d64;
$background-code: #9a4313;
$background-work: #290606;
$background-about-mobile: url("../img/skyfield.jpg");
$background-about-desktop: url("../img/skyfield-desktop.jpg");

//Padding
$wrapper-padding-mobile: 12vw 15px;
$wrapper-padding-desktop: 6vw 15px;

//Partials
@import "normalize";
@import "reset";
@import "mobile-first";
@import "print";
